*{
  font-family: 'Inter', sans-serif;
}
/* cur */

.cur{
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.al{
  width: 50px;
  height: 70px;
}
#img-fluid{
  width: 80%;
  height: 80%;
  border-radius: 7px;
}

/*nav bar*/

.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.navbar-nav{
  gap: 3rem;
}

.wordmark-logo{
  height: 50px;
  margin-left: 2.5rem;
}
nav{
  position: fixed;
  border-bottom: solid 1px rgb(0, 0, 0,0.3);
  text-align: center;
  background-color: white;
  top: 0%;
  right: 0%;
  left: 0%;
}

.nav-item{
 
  transition-duration: 1ms;
  border-radius: 6px;
  padding: 0.1;
  
}

.nav-item:hover{
   background-color:rgb(255, 211, 33);

}
 

/*h1*/
.f1h{
  text-align: center;
 
  

}
.div1{
   margin: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  
}
.frame1{
  margin: 5rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
  

}
.h11{
  margin-top: 5rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem; 
  padding-left: 2rem;
  padding-right: 2rem;

}

#v1{
  width: 230px;
}
#wi{
  width: 190px;
}
.let1{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.vector{
  width: 175px;
}
.hee2{
  font-weight: bold;
}

/* add */
.add{
  display: flex;
  margin: 5rem;
  
}

.ap,.cd,.ei{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.ab{
 
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: black;
  color: white;
  border-radius: 3px;
  transition-duration: 3ms;
  text-decoration: none;
  font-weight: 400;
}
.ab:hover{
  background-color: rgb(253, 223, 27);
  color: black;
}


.dat{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}


/* footer style */



.footer{
  display: flex;
  justify-content: space-evenly;
  
  align-items: center;
  flex-wrap: wrap;
  gap:1rem;


padding-bottom: 1rem;

 
}

.bt{
  border-top: solid 2px rgb(0, 0, 0,0.5) ;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
}
.group-2{
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.text-wrapper{
  font-family: "Coolvetica-Regular", Helvetica;
  font-weight: 600;
  color: #170c5b;
}
.p,.powered-by{
  font-weight: 600;
}
#ndc{
  height: 50px;
  width: 150px;
}
#sen{
  height: 40px
}

@media screen and (max-width:840px ) {
  .wordmark-logo{
    margin-left: 1rem;
   }
   .navbar-nav{
    margin-top: 0.5rem;
    gap: 1rem;
    
  }
 .frame1{
  
  margin: 1rem;
  margin-top: 7rem;
  text-align: center;
 
 }
 
  .div1{
    text-align: justify;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    
  }
  .h11{
    margin: 1rem;
    margin-top: 3rem;
    
  }
  .let1{
    text-align: justify;
    
    
  }
  .add{
    display: flex;
    margin: 2rem;
    margin-left: 0.5rem;
    flex-wrap: wrap;
    gap: 2rem;
    
    
  }
  #imp{
    justify-self: center;
  }
  .cur{
    
    gap: 0.5rem;
    margin: 0.5rem;
   
  }
  
  .al{
    width: 25px;
    height: 50px;
  }
  #img-fluid{
    width: 85%;
    height: 90%;
    
  }
}