
*{
  font-family: 'Inter', sans-serif;
}
/*nav bar*/

.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.navbar-nav{
  gap: 3rem;
  
}

.wordmark-logo{
  height: 50px;
  margin-left: 2.5rem;
}
nav{
  position: fixed;
  border-bottom: solid 1px rgb(0, 0, 0,0.3);
  text-align: center;
  background-color: white;
  top: 0%;
  right: 0%;
  left: 0%;
  
}

.nav-item{
 
  transition-duration: 1ms;
  border-radius: 6px;
  padding: 0.1;
  
}

.nav-item:hover{
   background-color:rgb(255, 211, 33);
   
   

}





/* contact style */

.cont{
  margin-top: 9rem;
  margin-bottom: 3rem;
}
.ch{
  text-align: center;
  margin-bottom: 4rem;
}

.coi{
  border: dashed 3px  rgb(255, 227, 114);
  border-radius: 3px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
 
   width: 50%;
   gap: 1rem;

}


.but{
  background-color:  rgb(247, 197, 0);
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1.5rem;
}
.but:hover{
  color:rgb(247, 197, 0);
  background-color: black;
}
.name{
  display: flex;
  gap: 1rem;
  justify-content: center;
  
}
.nad{
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 0.3rem;
   justify-content: center;
}
input{
  height: 2.75rem;
  border-radius: 5px;
}
label{
  color: rgb(255, 255, 255);
}

/* address */

.ac{
  margin-left: 5rem;
  margin-bottom: 5rem;
}
.ach{
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}
.ap{
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.map{
  width: 500px;
  margin-top: 5rem;
  margin-left: 28rem;
  display: flex;
  border: solid 2px black;
  
}



/* footer style */
.footer{
  display: flex;
  justify-content: space-evenly;

 
  align-items: center;
  flex-wrap: wrap;
  gap:1rem;


padding-bottom: 1rem;

 
}

.bt{
  border-top: solid 2px rgb(0, 0, 0,0.7) ;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.group-2{
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.text-wrapper{
  font-family: "Coolvetica-Regular", Helvetica;
  font-weight: 600;
  color: #170c5b;
}
.p,.powered-by{
  font-weight: 600;
}
#ndc{
  height: 50px;
  width: 150px;
}
#sen{
  height: 40px
}

.cpa{
  background-image: url("imgc/bc.svg");
  padding: 3rem;
  display: flex;
  justify-content: center;
}

/* for mobile */

@media screen and (max-width:840px ) {
  .coi{
    width: 140%;
    padding: 1rem;
  }

  .name{
    display: flex;
    flex-direction: column;
    width: 100%;
 }
 
 .ac{
  margin-left: 1rem;
 }
 .ach{
  margin-left: 1rem;
 }
 .map{
  width: 150px;
 
  margin-top: 3rem;
  margin-left: 1.5rem;
  display: flex;

  
}
.mc{
  height: 150px;
  
}
.wordmark-logo{
  margin-left: 1rem;
 }
 .navbar-nav{
  margin-top: 0.5rem;
  gap: 1rem;
  
}
}